[submodule "public"]
	path = public
	url = git@github.com:LeoVergara1/Actual.git
[submodule "themes/hurock"]
	path = themes/hurock
	url = git@github.com:LeoVergara1/hurock.git
[submodule "themes/hugo-uno"]
	path = themes/hugo-uno
	url = git@github.com:LeoVergara1/hugo-uno.git
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = git@github.com:LeoVergara1/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
  url = git@github.com:digitalcraftsman/hugo-icarus-theme.git

